<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
 <% @num = rand(1..20) %>
  <% @result= @client.search_books(@query).to_hash["results"]["work"][@num]["best_book"]["title"].split("(")[0] %>

 <h1><%= @result %> </h1>
<a href=/><button>Back</button></a>
  </div

</body>
</html>